*.swp
*.o
*.Po

*.in

Makefile
config.h
config.log
config.status
configure
atconfig
atlocal
aclocal.m4stamp-h1
autom4te.cache



#fig2dev build stuff
fig2dev*/man/fig2dev.1
fig2dev*/fig2dev/fig2dev
fig2dev*/fig2dev/dev/libdrivers.a
fig2dev*/transfig/transfig

#xfig build stuff
xfig*/src/version.fig
xfig*/src/xfig
xfig*/doc/xfig.man
xfig*/doc/xfig_man.html

#This one file that changes EVERY SINGLE TIME for some reason
xfig*/src/splash.xbm

#re-include the build directories, which contained makefiles n stuff that were ignored
!*/build/**
!fig2dev*/fig2dev/dev/Makefile*
