*.swp
*.o
*.Po

#build scripts
Makefile.in
aclocal.m4
Makefile
config.h
config.h.in
config.log
config.status
configure
atconfig
atlocal
aclocal.m4stamp-h1
autom4te.cache



#fig2dev build stuff
fig2dev*/man/fig2dev.1
fig2dev*/fig2dev/fig2dev
fig2dev*/fig2dev/dev/libdrivers.a
fig2dev*/transfig/transfig

#xfig build stuff
xfig*/src/version.fig
xfig*/src/xfig
xfig*/doc/xfig.man
xfig*/doc/xfig_man.html
xfig*/src/splash.xbm
xfig*/doc/html/images/xfig-title.png
