*.swp
*.o

Makefile.in
autom4te.cache

#Common build files, ignored WHEN IN THE ""ROOT"" DIRECTORY ONLY
*/Makefile*
*/aclocal.m4
*/config.h.in
*/configure*

#fig2dev build stuff
fig2dev*/Makefile
fig2dev*/config.h
fig2dev*/config.log
fig2dev*/config.status
fig2dev*/man/Makefile
fig2dev*/man/fig2dev.1
fig2dev*/fig2dev/Makefile
fig2dev*/fig2dev/dev/Makefile
fig2dev*/fig2dev/fig2dev
fig2dev*/fig2dev/.deps/
fig2dev*/fig2dev/dev/.deps/
fig2dev*/fig2dev/dev/libdrivers.a
fig2dev*/fig2dev/i18n/Makefile
fig2dev*/fig2dev/lib/.deps/
fig2dev*/fig2dev/tests/.deps/
fig2dev*/fig2dev/tests/Makefile
fig2dev*/fig2dev/tests/atconfig
fig2dev*/fig2dev/tests/atlocal
fig2dev*/stamp-h1
fig2dev*/transfig/.deps/
fig2dev*/transfig/Makefile

#xfig build stuff
xfig*/Makefile
xfig*/config.h
xfig*/config.log
xfig*/config.status
xfig*/src/Makefile
xfig*/src/version.fig
xfig*/stamp-h1
xfig*/src/xfig
xfig*/doc/Makefile
xfig*/doc/xfig.man
xfig*/doc/xfig_man.html
xfig*/lib/.deps/
xfig*/src/.deps/
xfig*/tests/.deps/
xfig*/tests/Makefile
xfig*/tests/atconfig
xfig*/tests/atlocal

#This one file that changes EVERY SINGLE TIME for some reason
xfig*/src/splash.xbm
